<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link rel="stylesheet"  href="{% static 'css/static.css' %}">
    <title>Course</title>
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 center-align ">
                <h3 class="text-dark" style="font-weight: bold; margin-top: 15px;">TRENDING | COURSE | PACKAGES</h3>
            </div>
        </div>
    </div>&nbsp;
    <div style="background-color: rgb(33 26 76);">
        <div class="container mb-3" style="margin-top: 15px;">
            <div class="row">
                <div class="col-md-4" style="margin-top: 25px;">
                    <div class="card" "width:350px" style='border-radius:0rem !important'>
                        <img class="card-img-top" src="{%static 'images/aws.jpg' %}" alt="Card image"
                            style="width: 90%;margin-left: 20px; margin-top: 25px;">
                        <div class="card-body">
                            <h5 class="card-title">Amazon Web Services</h5>
                            <p class="bg-secondary text-white" style="padding-left: 5px !important;">Course
                                Duration:
                            </p>
                            <p class="bg-light text-dark"><i class="far fa-calendar-alt"></i> 2Months | <i
                                    class="far fa-clock"></i> 15 days</p>
                            <h6 class="question"><i>What will i learn?</i></h6>
                            <p><i class="fas fa-check-double"></i> AWS features and tools related to configuration
                                and deployment.
                                You will also gain expertise in services like Cloudwatch, Cloudtrail, ELB, Route53,
                                EC2, S3,
                                Glacier,IAM and VPC....</p>
                                <div class="wrapper" style="margin-top: 15px;">
                                    <a href="#" class="btn btn-warning ">View Details</a>
                                </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="margin-top: 25px;">
                    <div class="card" "width:350px" style='border-radius:0rem !important'>
                        <img class="card-img-top" src="{%static 'images/softwaretest.jpeg' %}" alt="Card image"
                            style="width: 75%;margin-left: 45px; height: 130px; margin-top: 10px;">
                        <div class="card-body">
                            <h5 class="card-title" style="margin-top:-7px;">Software Testing</h5>
                            <p class="bg-secondary text-white" style="padding-left: 5px !important;">Course
                                Duration:
                            </p>
                            <p class="bg-light text-dark"><i class="far fa-calendar-alt"></i> 1Months | <i
                                    class="far fa-clock"></i> 30 days</p>
                            <h6 class="question"><i>What will i learn?</i></h6>
                            <p><i class="fas fa-check-double"></i> You will be learning different levels of testing,
                                test environment setup, test case design technique, test data creation, test
                                execution,
                                bug reporting, CI/CD pipeline in DevOps, and other essential concepts of software
                                testing....</p>
                                <div class="wrapper" style="margin-top: 15px;">
                                    <a href="#" class="btn btn-warning ">View Details</a>
                                </div>
                           
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="margin-top: 25px;">
                    <div class="card" "width:350px" style='border-radius:0rem !important'>
                        <img class="card-img-top" src="{%static 'images/sql.jpg' %}" alt="Card image"
                            style="width: 75%;margin-left: 45px; height: 125px; margin-top: 10px;">
                        <div class="card-body">
                            <h5 class="card-title">MySQL</h5>
                            <p class="bg-secondary text-white" style="padding-left: 5px !important;">Course
                                Duration:
                            </p>
                            <p class="bg-light text-dark"><i class="far fa-calendar-alt"></i> 1Months | <i
                                    class="far fa-clock"></i> 30 days</p>
                            <h6 class="question"><i>What will i learn?</i></h6>
                            <p><i class="fas fa-check-double"></i> </p>
                            <div class="wrapper" style="margin-top: 15px;">
                                <a href="#" class="btn btn-warning ">View Details</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-md-4">
                <div class="col-md-4">
                    <div class="card" "width:350px" style='border-radius:0rem !important'>
                        <img class="card-img-top" src="{%static 'images/python.jpg' %}" alt="Card image"
                            style="width: 75%;margin-top: 30px;margin-left: 45px;">
                        <div class="card-body">
                            <h5 class="card-title">Python Development</h5>
                            <p class="bg-secondary text-white" style="padding-left: 5px !important;">Course
                                Duration:
                            </p>
                            <p class="bg-light text-dark"><i class="far fa-calendar-alt"></i> 2Months | <i
                                    class="far fa-clock"></i> 15 days</p>
                            <h6 class="question"><i>What will i learn?</i></h6>
                            <p><i class="fas fa-check-double"></i> </p>
                            <div class="wrapper" style="margin-top: 15px;">
                                <a href="#" class="btn btn-warning ">View Details</a>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" "width:350px" style='border-radius:0rem !important'>
                        <img class="card-img-top" src="{%static 'images/flask.jpg' %}" alt="Card image"
                            style="width: 75%;margin-top: 30px;margin-left: 45px;">
                        <div class="card-body">
                            <h5 class="card-title">Flask Development</h5>
                            <p class="bg-secondary text-white" style="padding-left: 5px !important;">Course
                                Duration:
                            </p>
                            <p class="bg-light text-dark"><i class="far fa-calendar-alt"></i> 1Months | <i
                                    class="far fa-clock"></i> 10 days</p>
                            <h6 class="question"><i>What will i learn?</i></h6>
                            <p><i class="fas fa-check-double"></i> </p>
                            <div class="wrapper" style="margin-top: 15px;">
                                <a href="#" class="btn btn-warning ">View Details</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" "width:350px" style='border-radius:0rem !important'>
                        <img class="card-img-top" src="{%static 'images/django.jpg' %}" alt="Card image"
                            style="width: 75%;margin-top: 30px;margin-left: 45px;">
                        <div class="card-body">
                            <h5 class="card-title">Django Development</h5>
                            <p class="bg-secondary text-white" style="padding-left: 5px !important;">Course
                                Duration:
                            </p>
                            <p class="bg-light text-dark"><i class="far fa-calendar-alt"></i> 1Months | <i
                                    class="far fa-clock"></i> 10 days</p>
                            <h6 class="question"><i>What will i learn?</i></h6>
                            <p><i class="fas fa-check-double"></i> </p>
                            <div class="wrapper" style="margin-top: 15px;">
                                <a href="#" class="btn btn-warning ">View Details</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-md-4">
                <div class="col-md-4">
                    <div class="card" "width:350px" style='border-radius:0rem !important'>
                        <img class="card-img-top" src="{% static 'images/html.jpg' %}" alt="Card image"
                            style="width: 75%;margin-top: 10px; margin-bottom:-10px; margin-left: 45px;">
                        <div class="card-body">
                            <h5 class="card-title">HTML</h5>
                            <p class="bg-secondary text-white" style="padding-left: 5px !important;">Course
                                Duration:
                            </p>
                            <p class="bg-light text-dark"><i class="far fa-calendar-alt"></i> 0Months | <i
                                    class="far fa-clock"></i> 30 days</p>
                            <h6 class="question"><i>What will i learn?</i></h6>
                            <p><i class="fas fa-check-double"></i> </p>
                            <div class="wrapper" style="margin-top: 15px;">
                                <a href="#" class="btn btn-warning ">View Details</a>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" "width:350px" style='border-radius:0rem !important'>
                        <img class="card-img-top" src="{%static 'images/css.jpg' %}" alt="Card image"
                            style="width: 75%;margin-top: 10px; margin-bottom:-10px; margin-left: 45px;">
                        <div class="card-body">
                            <h5 class="card-title">CSS</h5>
                            <p class="bg-secondary text-white" style="padding-left: 5px !important;">Course
                                Duration:
                            </p>
                            <p class="bg-light text-dark"><i class="far fa-calendar-alt"></i> 0Months | <i
                                    class="far fa-clock"></i> 30 days</p>
                            <h6 class="question"><i>What will i learn?</i></h6>
                            <p><i class="fas fa-check-double"></i> </p>
                            <div class="wrapper" style="margin-top: 15px;">
                                <a href="#" class="btn btn-warning ">View Details</a>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" "width:350px" style='border-radius:0rem !important'>
                        <img class="card-img-top" src="{%static 'images/boostrap5.jpg' %}" alt="Card image"
                            style="width: 75%;margin-top: 10px; margin-bottom:-10px; margin-left: 45px;">
                        <div class="card-body">
                            <h5 class="card-title">Bootstrap5</h5>
                            <p class="bg-secondary text-white" style="padding-left: 5px !important;">Course
                                Duration:
                            </p>
                            <p class="bg-light text-dark"><i class="far fa-calendar-alt"></i> 0Months | <i
                                    class="far fa-clock"></i> 30 days</p>
                            <h6 class="question"><i>What will i learn?</i></h6>
                            <p><i class="fas fa-check-double"></i> </p>
                            <div class="wrapper" style="margin-top: 15px;">
                                <a href="#" class="btn btn-warning ">View Details</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-md-4">
                <div class="col-md-4">
                    <div class="card" "width:350px" style='border-radius:0rem !important'>
                        <img class="card-img-top" src="{%static 'images/js.jpg' %}" alt="Card image"
                            style="width: 75%;margin-top: 10px;margin-bottom:-10px; margin-left: 45px;">
                        <div class="card-body">
                            <h5 class="card-title">Javascript</h5>
                            <p class="bg-secondary text-white" style="padding-left: 5px !important;">Course
                                Duration:
                            </p>
                            <p class="bg-light text-dark"><i class="far fa-calendar-alt"></i> 1Months | <i
                                    class="far fa-clock"></i> 0 days</p>
                            <h6 class="question"><i>What will i learn?</i></h6>
                            <p><i class="fas fa-check-double"></i> </p>
                            <div class="wrapper" style="margin-top: 15px;">
                                <a href="#" class="btn btn-warning ">View Details</a>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" "width:350px" style='border-radius:0rem !important'>
                        <img class="card-img-top" src="{%static 'images/jquery.jpg' %}" alt="Card image"
                            style="width: 75%;margin-top: 10px; margin-bottom:-10px; margin-left: 45px;">
                        <div class="card-body">
                            <h5 class="card-title">JQuery</h5>
                            <p class="bg-secondary text-white" style="padding-left: 5px !important;">Course
                                Duration:
                            </p>
                            <p class="bg-light text-dark"><i class="far fa-calendar-alt"></i> 0Months | <i
                                    class="far fa-clock"></i> 25 days</p>
                            <h6 class="question"><i>What will i learn?</i></h6>
                            <p><i class="fas fa-check-double"></i> </p>
                            <div class="wrapper" style="margin-top: 15px;">
                                <a href="#" class="btn btn-warning ">View Details</a>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" "width:350px" style='border-radius:0rem !important'>
                        <img class="card-img-top" src="{%static 'images/reactjs.jpg' %}" alt="Card image"
                            style="width: 75%;margin-top: 10px; margin-bottom:-10px; margin-left: 45px;">
                        <div class="card-body">
                            <h5 class="card-title">ReactJS</h5>
                            <p class="bg-secondary text-white" style="padding-left: 5px !important;">Course
                                Duration:
                            </p>
                            <p class="bg-light text-dark"><i class="far fa-calendar-alt"></i> 1Months | <i
                                    class="far fa-clock"></i> 0 days</p>
                            <h6 class="question"><i>What will i learn?</i></h6>
                            <p><i class="fas fa-check-double"></i> </p>
                            <div class="wrapper" style="margin-top: 15px;">
                                <a href="#" class="btn btn-warning ">View Details</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-md-4">
                <div class="col-md-4">
                    <div class="card" "width:350px" style='border-radius:0rem !important'>
                        <img class="card-img-top" src="{%static 'images/selenium.png' %}" alt="Card image"
                            style="width: 65%;margin-top: 10px; margin-bottom:-10px; margin-left: 60px;">
                        <div class="card-body">
                            <h5 class="card-title">Selenium</h5>
                            <p class="bg-secondary text-white" style="padding-left: 5px !important;">Course
                                Duration:
                            </p>
                            <p class="bg-light text-dark"><i class="far fa-calendar-alt"></i> 0Months | <i
                                    class="far fa-clock"></i> 20 days</p>
                            <h6 class="question"><i>What will i learn?</i></h6>
                            <p><i class="fas fa-check-double"></i> Selenium training covers WebDriver, Grid, IDE,
                                handling IFrames, Alerts, and Modal Dialog box.Supported plugins such as TestNG
                                Framework,
                                Robot Class, Cucumber, and Gherkin to control your automation environment...</p>
                                <div class="wrapper" style="margin-top: 15px;">
                                    <a href="#" class="btn btn-warning ">View Details</a>
                                </div>
                           
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" "width:350px" style='border-radius:0rem !important'>
                        <img class="card-img-top" src="{%static 'images/digitalm.jpg' %}" alt="Card image"
                            style="width: 75%;margin-top: 10px;height: 150px;margin-left: 45px;">
                        <div class="card-body">
                            <h5 class="card-title">Digital Marketing</h5>
                            <p class="bg-secondary text-white" style="padding-left: 5px !important;">Course
                                Duration:
                            </p>
                            <p class="bg-light text-dark"><i class="far fa-calendar-alt"></i> 1Months | <i
                                    class="far fa-clock"></i> 15 days</p>
                            <h6 class="question"><i>What will i learn?</i></h6>
                            <p><i class="fas fa-check-double"></i> digital marketing aspects such as Keyword
                                Planning,
                                SEO, Search Engine Marketing, Email Marketing, Affiliate Marketing, Social Media
                                Marketing, and Google Analytics...</p>
                                <div class="wrapper" style="margin-top: 15px;">
                                    <a href="#" class="btn btn-warning ">View Details</a>
                                </div>
                           
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" "width:350px" style='border-radius:0rem !important'>
                        <img class="card-img-top" src="{%static 'images/devops.jpg' %}" alt="Card image"
                            style="width: 75%;margin-top: 10px;height: 150px;margin-left: 45px;">
                        <div class="card-body">
                            <h5 class="card-title">DevOps - Maven</h5>
                            <p class="bg-secondary text-white" style="padding-left: 5px !important;">Course
                                Duration:
                            </p>
                            <p class="bg-light text-dark"><i class="far fa-calendar-alt"></i> 1Months | <i
                                    class="far fa-clock"></i> 15 days</p>
                            <h6 class="question"><i>What will i learn?</i></h6>
                            <p><i class="fas fa-check-double"></i> </p>
                            <div class="wrapper" style="margin-top: 15px;">
                                <a href="#" class="btn btn-warning ">View Details</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Footer-->
    <footer id="footer" style="background-color: #fff;">

        <div class="container" style="padding-top: 50px; ">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3><img src="{%static 'images/clogo.png' %}" width="50%"></h3>
                    <p>#171, B-Wing, Raj Complex, DPF Street, P N Palayam,Near Lakshmi Mills Stop,
                        Coimbatore-37.<br><br>
                        <strong>Phone: </strong> 8903835098<br>
                        <strong>Email: </strong> contact@cloudswansolution.com<br>
                        <strong>Website:</strong> www.cloudswansolution.com<br>
                        <strong>India</strong>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h5 class="linked">Useful Links</h5>
                    <ul>
                        <li> <a class="review" href="index.html">Home</a></li>
                        <li> <a class="review" href="#">Jobs</a></li>
                        <li> <a class="review" href="#">Tools</a>
                        <li> <a class="review" href="#">Tutorial</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4 class="linked">Our Services</h4>
                    <ul>
                        <li><a class="review" href="#">Web Design</a></li>
                        <li><a class="review" href="#">Web Development</a></li>
                        <li><a class="review" href="#">Product Management</a></li>
                        <li><a class="review" href="#">Marketing</a></li>
                        <li><a class="review" href="#">Graphic Design</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4 class="linked">Our Social Networks</h4>
                    <ul>
                        <li><a class="review" href="#">Twitter</a></li>
                        <li><a class="review" href="#">Facebook</a></li>
                        <li><a class="review" href="#">Instagram</a></li>
                        <li><a class="review" href="#">Skype</a></li>
                        <li><a class="review" href="#">Linkedin</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <section id="bottom">
            <div class="container">
                <div class="row">

                    <div class="col-md-6">
                        <div class="design">
                            Copyright 2022 ©<strong></strong>. All Rights Reserved</div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <div class="design">
                            Designed by : <a href="index.html" style="color: yellow;">CloudSwan Solution</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </div>
    </footer>





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{%static 'js/valid.js' %}"></script>
    <script src="{%static 'js/dash.js' %}"></script>
</body>

</html>