<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!--boxicon CDN Link-->
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet"  href="{% static 'css/dash1.css' %}">
  <title>CloudSwan | Solution Development</title>
</head>

<body>
  {% csrf_token %}
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">CloudSwan</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/dashadmin"  class="active">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="/profile">
          <i class='bx bxs-user-circle'></i>
          <span class="links_name">Profile Management</span>
        </a>
      </li>
      <li>
        <a href="/dashcourse">
          <i class='bx bxs-book'></i>
          <span class="links_name">Course</span>
        </a>
      </li>
      <li>
        <a href="/tutorial">
          <i class='bx bxs-briefcase'></i>
          <span class="links_name">Tutorial Management</span>
        </a>
      </li>
      <li>
        <a href="/settings">
          <i class='bx bx-cog'></i>
          <span class="links_name">Setting</span>
        </a>
      </li>
      <li class="log_out">
        <a href="#">
          <i class='bx bx-log-out'></i>
          <span class="links_name">Log out</span>
        </a>
      </li>
    </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <!--span class="dashboard">Dashboard</span-->
        <i class='bx bx-message' style="font-size:28px; margin-left:15px; margin-top:3px"></i>
        <i class='bx bx-bell' style="font-size:28px; margin-left:15px; margin-top:1px"></i>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search...">
        <i class='bx bx-search'></i>
      </div>
      
      <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-user"></i> &nbsp;  {% if username %}
          {{ username }}<br/>
          {% endif %}
         
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="#">Password Change</a>
          <a class="dropdown-item" href="/">Logout</a>
        </div>
      </div>
      
      </div>
    </nav>
    <div class="home-content">
      <div class="container"> 

        <div class="row">

          <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Total No. of profile</h4>
              <p class="card-text">25</p> 
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">No. of Course Categories</h4>
              <p class="card-text">15</p> 
            </div>
          </div>
        </div>


        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">User Course Enrollment</h4>
              <p class="card-text">60+</p> 
            </div>
          </div>
        </div>

        </div>
        
         
 
              
            </div>
          </div>
          </section> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
    <script src="{% static 'js/dash.js' %}"></script> 
  
</body>

</html>
